<div class="main">
  <h2 id="title"><a href="https://github.com/evocount/ember-tui-editor">Ember-tui-editor</a> Demo</h2>

  {{#let (get-code-snippet "tui-editor.hbs") as |snippet|}}
    <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
  {{/let}}

  {{tui-editor
    height=height
    minHeight=minHeight
    previewStyle=previewStyle
    editType=editType
    value=value
    onChange=(action (mut value))
  }}

  <form>
    <div>
      <label for="height">Height:</label>
      {{input value=height id="height"}}
    </div>

    <div>
      <label for="minHeight">Min Height:</label>
      {{input value=minHeight id="minHeight"}}
    </div>

    <div>
      <label for="previewStyle">Preview style:</label>
      <PowerSelect
        @options={{previewStyles}}
        @selected={{previewStyle}}
        @onChange={{action (mut previewStyle)}}
        @searchEnabled={{false}}
        as |item|
      >
        {{item}}
      </PowerSelect>
    </div>

    <div>
      <label for="editType">Edit type: </label>
      <PowerSelect
        id="editType"
        @options={{editTypes}}
        @selected={{editType}}
        @onChange={{action (mut editType)}}
        @searchEnabled={{false}}
        as |item|
      >
        {{item}}
      </PowerSelect>
    </div>

    <div>
      <label for="value">Value: </label>
      {{textarea value=value rows="10" id="value"}}
    </div>
  </form>
</div>
