<div class="main">
  <h2 id="title"><a href="https://github.com/evocount/ember-tui-editor">Ember-tui-editor</a> Demo</h2>

  {{#let (get-code-snippet "tui-editor.hbs") as |snippet|}}
    <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
  {{/let}}

  <TuiEditor
    @height={{this.height}}
    @minHeight={{this.minHeight}}
    @previewStyle={{this.previewStyle}}
    @editType={{this.editType}}
    @value={{this.value}}
    @onChange={{fn (mut this.value)}}
  />

  <form>
    <div>
      <label for="height">Height:</label>
      <Input @value={{this.height}} @id="height" />
    </div>

    <div>
      <label for="minHeight">Min Height:</label>
      <Input @value={{this.minHeight}} @id="minHeight" />
    </div>

    <div>
      <label for="previewStyle">Preview style:</label>
      <PowerSelect
        @options={{this.previewStyles}}
        @selected={{this.previewStyle}}
        @onChange={{fn (mut this.previewStyle)}}
        @searchEnabled={{false}}
        as |item|
      >
        {{item}}
      </PowerSelect>
    </div>

    <div>
      <label for="editType">Edit type: </label>
      <PowerSelect
        id="editType"
        @options={{this.editTypes}}
        @selected={{this.editType}}
        @onChange={{fn (mut this.editType)}}
        @searchEnabled={{false}}
        as |item|
      >
        {{item}}
      </PowerSelect>
    </div>

    <div>
      <label for="value">Value: </label>
      <Textarea @value={{this.value}} @rows="10" @id="value" />
    </div>
  </form>
</div>
