<div class="main">
  <h2 id="title">
    <a href="https://github.com/evocount/ember-tui-editor">
      Ember-tui-editor
    </a>
    Demo
  </h2>

  {{#let (get-code-snippet "tui-editor.hbs") as |snippet|}}
    <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
  {{/let}}

  {{#if this.show}}
    <TuiEditor
      @height={{this.height}}
      @minHeight={{this.minHeight}}
      @previewStyle={{this.previewStyle}}
      @editType={{this.editType}}
      @value={{this.value}}
      @onChange={{set this "value"}}
      @placeholder={{this.placeholder}}
    />
  {{/if}}

  <form>
    <div>
      <label for="height">Height:</label>
      <input
        id="height"
        type="text"
        value={{this.height}}
        {{on "input" (pick "target.value" (set this "height"))}}
      />
    </div>

    <div>
      <label for="minHeight">Min Height:</label>
      <input
        id="minHeight"
        type="text"
        value={{this.minHeight}}
        {{on "input" (pick "target.value" (set this "minHeight"))}}
      />
    </div>

    <div>
      <label for="previewStyle">Preview style:</label>
      <select
        id="previewStyle"
        {{on "input" (pick "target.value" (set this "previewStyle"))}}
      >
        {{#each this.previewStyles as |item|}}
          <option value={{item}} selected={{eq item this.previewStyle}}>
            {{item}}
          </option>
        {{/each}}
      </select>
    </div>

    <div>
      <label for="editType">Edit type: </label>
      <select
        id="editType"
        {{on "input" (pick "target.value" (set this "editType"))}}
      >
        {{#each this.editTypes as |item|}}
          <option value={{item}} selected={{eq item this.editType}}>
            {{item}}
          </option>
        {{/each}}
      </select>
    </div>

    <div>
      <label for="value">Value: </label>
      <textarea
        rows="10"
        id="value"
        type="text"
        value={{this.value}}
        {{on "input" (pick "target.value" (set this "value"))}}
      ></textarea>
    </div>

    <div>
      <label for="placeholder">Placeholder:</label>
      <input
        id="placeholder"
        type="text"
        value={{this.placeholder}}
        {{on "input" (pick "target.value" (set this "placeholder"))}}
      />
    </div>

    <div>
      <label for="show">Show</label>
      <input
        id="show"
        type="checkbox"
        checked={{this.show}}
        {{on "input" (pick "target.checked" (set this "show"))}}
      />
    </div>
  </form>
</div>